{% extends 'base.html.twig' %}

{% block title %}
	SCP Formation
{% endblock %}

{% block body %}
	<div class="container-fluid ">
		<h1 class="w-100% text-center" id="h1Carousel"style="background-color:#2c77bc;color:white">Titre professionnel disponible en Septembre 2022</h1>
		<div id="carouselId" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators" id="cindicator">
				<li data-target="#carouselId" data-slide-to="0" class="active"></li>
				<li data-target="#carouselId" data-slide-to="1"></li>
				<li data-target="#carouselId" data-slide-to="2"></li>
				<li data-target="#carouselId" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="card text-white" id="cardHome" style="background-image:url(img/comptableCarousel.jpg)">
						<div class="card-body" id="cardbodyCarousel">
							<h4 class="card-title mt-auto" id="tpCaroussel" style="font-weight: bold;">
								TP Secrétaire comptable (RNCP1212)
							</h4>
							<p class="card-text mt-auto" style="font-weight:bold">

								<br/>
								L'emploi de secrétaire comptable est à la jonction des métiers de secrétaire et de comptable.
								<br/>
								Il se caractérise par une combinaison d'activités relevant de ces deux domaines au sein du même emploi.
							</p>
							<a href="{{ path('formation_scp_index')}}" class="btn btn-info btn-sm">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card text-white" id="cardHome" style="background-image:url(img/rhAccueill.jpg)">
						<div class="card-body" id="cardbodyCarousel">
							<h4 class="card-title mt-auto" id="tpCaroussel" style="font-weight: bold;">
								TP Assistant(e) Ressources Humaines (RNCP6161)
							</h4>
							<p class="card-text mt-auto" style="font-weight:bold">


								<br/>
								L'assistant (e) ressources humaines seconde son responsable dans l'administration du personnel et la mise en œuvre de la politique de développement des ressources humaines.
							</p>
							<a href="{{ path('formation_scp_index')}}" class="btn btn-info btn-sm">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card text-white" id="cardHome" style="background-image:url(img/comptableAssisst.jpg)">
						<div class="card-body" id="cardbodyCarousel">
							<h4 class="card-title mt-auto" id="tpCaroussel" style="font-weight: bold;">
								TP Comptable assistant (RNCP5881)
							</h4>
							<p class="card-text mt-auto" style="font-weight:bold">


								<br/>
								Cet emploi comprend l'ensemble des travaux de base de la fonction comptable.
								<br/>
								Ces travaux sont constitués, pour l'essentiel, de traitements et de saisies d'informations à caractère financier.
							</p>
							<a href="{{ path('formation_scp_index')}}" class="btn btn-info btn-sm">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card text-white" id="cardHome" style="background-image:url(img/secretaireAssist.jpg)">
						<div class="card-body" id="cardbodyCarousel">
							<h4 class="card-title mt-auto" id="tpCaroussel" style="font-weight: bold;">
								TP Secrétaire assistant (RNCP193)
							</h4>
							<p class="card-text mt-auto" style="font-weight:bold">


								<br/>
								Assurer les travaux courants de secrétariat et assister une équipe Assurer le traitement administratif dans un service médical ou social.
							</p>
							<a href="{{ path('formation_scp_index')}}" class="btn btn-info btn-sm">En savoir plus</a>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>


			<section>
				<div class="container-fluid" id="home_com2">
					<p class="w-100%  text-center">TP Assistant Ressources Humaines</p>
					<p>Session d'examen : 09/2021
					</p>
					<img src="{{asset('img/reussite.png')}}" class="img_home_com" alt="">
				</div>
				<img src="{{asset('img/homeimg.jpg')}}" alt="" id="big_img_acc">
				<div class="container-fluid" id="home_com">
					<p>
						<br/>
						Pour plus d'information , sur votre projet et votre moyen de financement veuillez prendre un rendez-vous au :
						<br/>
						<i class="fa-solid fa-phone">
							<a href="tel:0262707967">0262 70 79 64</a>
						</i>
						<br/>
					</p>

				</div>
				<hr>
				<div class="container-fluid" id="home_com">
					<p>
						<br/>
						« Réussir votre entrée dans la vie professionnelle
																							        avec SCP Formation »
					</p>

				</div>


			</section>
		</div>
	</div>
{% endblock %}
