<h1>Une nouvelle inscription pour {{ formation.choix }}</h1>
<h1>Nom : {{formation.nom}} Prénom : {{formation.prenom}} <br>Son numéro est le {{formation.numero}} et son email : {{formation.email}}</h1>